extends base.pug

block scripts
  script(src='/static/static1.js')

block style 
  style
     include ../static/style.css
     include ../static/styleContact.css 

block content
  div.formContainer
    h1 CONTACT US
    form#content(action='/contact' method='post')
      input#name(type='text' name='name' placeholder='Enter your Name')
      input#age(type='text' name='age' placeholder='Enter your age')
      input#gender(type='text' name='gender' placeholder='Enter your Gender')
      textarea#address(name='address' cols='30' rows='5' placeholder='Enter your Address')
      textarea(name='more' id='' cols='30' rows='5' placeholder='More about you')
      button.btn SUBMIT